.app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app__container {
  display: flex;
  width: 80%;
  height: fit-content;
  border-bottom: solid 3px rgb(255, 236, 54);

  padding: 0 60px 40px 60px;

  justify-content: space-evenly;
  margin: 70px auto 20px auto;
}

.app__left {
  flex: 0.3;
}

.app__center {
  flex: 0.5;
}

.app__right {
  top: 50px;
  padding: 7px;
  background-color: white;
  flex: 0.3;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin-top: 15px;
  -webkit-box-shadow: 3px -2px 15px -8px #919191;
  -moz-box-shadow: 3px -2px 15px -8px #919191;
  box-shadow: 3px -2px 15px -8px #919191;
}

.backgroundimage {
  margin-top: 100px;
  width: 100%;
  height: 300px;
  margin-bottom: -360px;
  z-index: -5;
  opacity: 0.7;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

@media (max-width: 800px) {
  .app__container {
    flex-direction: column;
  }

  .app__center {
    order: 1;
  }
  .app__left {
    order: 2;
    padding-right: 16px;
  }
  .app__right {
    order: 3;
    width: 70%;
    align-self: center;
  }
}

@media (max-width: 440px) {
  .app__container {
    flex-direction: column;
    width: 80%;
    justify-content: center;
  }

  .app__center {
    order: 1;
  }
  .app__left {
    order: 2;
    margin-right: 16px;
  }
  .app__right {
    order: 3;
  }
}
