
.app{
    display: flex;
    flex-direction: column;
}

.app__container{
    display: flex;
    padding:40px;
        justify-content: space-evenly;
        margin: 0 auto;

}

.app__left{
    flex:0.8;
    
}

.app__right {
    padding:20px;
    background-color:rgb(224, 224, 224);
    flex:0.3;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin-top: 15px;
}