.articleCard {
    margin: 15px;

}


.title {
    width: 100%;
    padding-bottom: 2px;
    padding-top: 3px;
    font-weight: bolder;
    border-bottom: solid 3px rgb(255,236,54);
    border-top: solid 3px rgb(255,236,54);

}

.date {
    padding-top: 10px;
}




