.articlepage {
  margin: 50px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articlePage__top{
  display: flex;
}

.articlePage__twitter{
  border: 1px solid lightgray;
  margin: 10px;
  height: fit-content;
}

.articlepage > img {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-height: 400px;
  margin-bottom: 20px;
}

.articlepage > h1 {
  width: 40%;
  margin-left: 16px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  align-self: flex-start;

}
.articlepage > h4 {
  align-self: flex-start;
  margin-left: 16px;
  color: darkgray;
  padding-bottom: 10px;
  margin-bottom: 10px;

  border-bottom: solid 3px rgb(255,236,54);

}
.articlepage > h3 {
  width: fit-content;
  padding-bottom: 10px;
  margin-left: 16px;

  margin-bottom: 30px;
  border-bottom: solid 3px rgb(255,236,54);
  align-self: flex-start;


}

.articlepage__paragraphs {
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px auto;
  border-radius: 3px;
  background-color: white;
  padding: 20px 10px;

  
}

.articlepage__paragraphs >p {
  margin-left: 60px;
  line-height: 1.5em;
  margin-right: 60px;
  margin-bottom: 10px;
}

.articlePage__more{
  margin-top: 100px;
}

.articlepage__video {
  width: 50%;
}

@media (max-width:440px){
  .articlePage__twitter {
    display: none;
    width: 100%;
}

.articlepage__paragraphs {
  margin: 0;
  border-radius: 3px;
  background-color: white;
  padding: 0;
}

.articlepage__paragraphs >p {

  margin-left: auto;
  line-height: 1.5em;
  margin-right: auto;
  margin-bottom: 10px;

}

.articlepage > h1 {
  width: 100%;
  margin: auto;


}
.articlepage > h4 {
  align-self: flex-start;
  margin:auto;
  color: darkgray;
  padding-bottom: 10px;
  margin-bottom: 10px;

  border-bottom: solid 3px rgb(255,236,54);

}
.articlepage > h3 {
  width: fit-content;
  padding-bottom: 10px;
  margin:auto}


}
