.imageCard {
  margin-right: 15px;
}

.imageCard__image {
  max-height: 300px;
  object-fit: fill;
}

.imageCard > a {
  text-decoration: none;
}

@media (max-width: 440px) {
  .imageCard {
    border-radius: 4px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}
