.moreArticles {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto 30px auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    -webkit-box-shadow: 3px -2px 15px -8px #919191;
    -moz-box-shadow: 3px -2px 15px -8px #919191;
    box-shadow: 3px -2px 15px -8px #919191;
}

.moreArticles > h2 {
    margin: 7px;
}

.moreArticles > ul {
    margin: 5px;
}

.moreArticles > ul > li {
    list-style: none;
    padding: 4px;
}