.main__column {
  border-right: solid 3px rgb(255, 236, 54);
}

.main_home {
  margin-top: 50px;
}

@media (max-width: 440px) {
  .main_home {
    margin: 0 0;
    padding: 0;
  }

  .toprow {
    display: grid;
    margin: 0;
    padding: 0;
  }
  .col1 {
    order: 2;
    border: none;
    margin: 0;
    padding: 0;
  }
  .col2 {
    order: 1;
    border: none;
    margin: 0;
    padding: 0;
  }
  .col3 {
    order: 3;
  }
}
